body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.75em;
    line-height: 18px;
}

.subtitle {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.loadmsg {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #ff0000;
    white-space: pre;
}

.errors {
   font-family: verdana, arial, helvetica, sans-serif;
   font-weight: normal;
   color: #ff0000; 
}

tr.d0 td {
	background-color: #FCF6CF;
    color: black;
    border: 1px solid black;
}

tr.d1 td { border: 1px solid black; }

table.searchresults {
    background-color: #FEFEF2;    
    width: 100%;
    white-space: normal;
    overflow: hidden;
    border: 1px solid black;    
    border-width: 2px;
    padding: 2px;
}



